header {
  height: 100px;
  background-size: 50%;
  background-color:#4ea0ff;
  background-image: url("../img/pattern.png");
  background-attachment: fixed;
}

header img {
  position: relative;
  left: 10%;
  top: 60%;
  height: 30%;
}
